//nav
// Global
$baseColor: $scorpion;

// Nav
$navLinkColor: $scorpion;
$navLinkHoverColor: $lightBlack;
$navBackground: rgba($swamp, .1);
$hPadding: 20px;
$vPadding: 22px;

// Buttons
$buttonBorderColor: $rollingStone;
