@font-face {
  font-family: Dosis;
  src: local('☺︎'),
  local('Dosis'),
  url('../fonts/DosisRegular.woff2') format('woff2');
}

@font-face {
  font-family: OpenSans;
  font-weight: 400;
  src: local('☺︎'),
  local('OpenSans'),
  url('../fonts/OpenSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: OpenSans;
  font-weight: 700;
  src: local('☺︎'),
  local('OpenSans'),
  url('../fonts/OpenSansBold.woff2') format('woff2');
}